<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a ui-sref="homeView"
               class="btn navbar-toggle btn-primary cart-toggle">
                <i class="fa fa-shopping-cart"></i> <span class="badge">{{cart.watches.length}}</span>
            </a>
            <a class="navbar-brand" href="#">E-Commerce App by Sylwia</a>
        </div>
        <div class="navbar-collapse collapse">
            <a ui-sref="checkoutView"
               class="btn btn-primary navbar-btn navbar-right"
               ng-init="cart.getCart()">
                <i class="fa fa-shopping-cart"></i> <span class="badge">{{cart.watches.length}}</span>
            </a>
        </div>
    </div>
</nav>