<p class="lead">Categories</p>
<div class="list-group">
    <a class="list-group-item">All</a>
    <a class="list-group-item">MODERN SPORT SERIES</a>
    <a class="list-group-item">VOYAGER SERIES</a>
</div>