<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <top-navigation></top-navigation>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <left-navigation></left-navigation>
            </div>
            <div class="col-md-8">
                <watches-list></watches-list>
            </div>
        </div>
    </div>
</div>